@mixin category($color) {
  background-color: $color;
}
@mixin darkBgImage($img) {
  &:hover {
    background: linear-gradient(rgba(22, 22, 22, 0.6)),
      url($img) no-repeat center / cover;
  }
  background: linear-gradient(rgba(22, 22, 22, 0.8)),
    url($img) no-repeat center / cover;
}

@mixin resetProps {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
  }
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
